/*	Table OF Contents
	==========================
	1.General styles
	2.Top link
	3.Main nav
	4.Banner letter effect
	5.Banner area
	6.Choose
	7.Features
	8.Service
	9.Offer
	10.Price
	11.Client
	12.Client review
	13.Search domin
	14.Get in touch
	15.Footer
	16.Newsletter
	17.Footer-bottom
	18.Goto top
	19.Blog
    20.Blog small
    21.Blog single post
	22.Footer1
    23.Footer2
    24.404
    25.Services1
	26.Services2
	27.Services3
	28.Services4
	29.Services5
	30.Services6
	31.Services7

	=========================== */



	/* ============================
	 1.General styles
	 =========================== */


	body {
	background-color:#fff;
}
a, a:hover {
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
.top-area {
	position:relative;
	height:auto;
	background-color:#323943;
}
/* ============================
	 2.Top link
	 =========================== */
	.top-link ul {
	list-style: none;
	list-style-position: outside;
	margin:11px 0px;
	padding:0px;
}
.top-link ul li {
	background: transparent;
	float: left;
}
.top-link ul li a {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	text-decoration: none;
	display: block;
	padding-left: 33px;
	margin-right:15px;
	position: relative;
	margin-bottom:5px;
}
.top-link ul li a span {
	background:url(../images/top-icon.png) no-repeat 0 0;
	position: absolute;
	width: 36px;
	height: 36px;
	top: -5px;
	left: 0;
}
.top-link ul li a:hover {
	color:#ccc;
}
.top-link ul li a.info-ico span {
	background-position: 0 0;
}
.top-link ul li a.phone-ico span {
	background-position: -32px 0;
}
.top-link ul li a.chat-ico span {
	background-position: -70px 0;
}
.oder {
	text-align:left;
	padding: 5px 0 10px 0;
}
.oder-content {
	display:inline-block;
	margin-right:10px;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#fff;
}
.oder a {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
}
.oder a:hover {
	color:#ccc;
	text-decoration:none;
}
.smo-icon {
	margin:0 auto;
	padding:11px 0 2px 0;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#fff;
}
.smo-icon span {
	display:inline-block;
	margin-right:10px;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#fff;
}
.smo-icon a {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
}
.smo-icon a:hover {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

/* ============================
	 4.Banner letter effect
	 =========================== */

	.letter-container {
	margin: 0px;
	padding: 0px;
}
.head-space
{
	margin-top:10px;
}
.head-space a {
	color: #EE2E22;
	font-size: 5vh;
    font-weight: 700;
	text-shadow: 1px 1px 2px #fff;
}
.head-space a:hover{
	text-decoration: none;
}
.letter-container h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1px;
    font-weight: 700;
}
.letter-container h1 a {
	text-align: center;
	font-size: 18px;
	display: block;
	min-height:18px;
	height:auto;
	-webkit-mask: url(../images/mask.png) repeat;
	-o-mask: url(../images/mask.png) repeat;
	-moz-mask: url(../images/mask.png) repeat;
	-ms-mask: url(../images/mask.png) repeat;
	mask: url(../images/mask.png) repeat;
	text-decoration:none;
	color:#fff;
}
.letter-container h1 a span {
	color: #fff;
	opacity: 1;
	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.9s linear backwards;
	-moz-animation: sharpen 0.9s linear backwards;
	-ms-animation: sharpen 0.9s linear backwards;
	animation: sharpen 0.9s linear backwards;
}
.letter-container h1 a span:hover {
	text-shadow: 0px 0px 5px #fff;
}
 .letter-container h1 a span:nth-child(1) {
 -webkit-animation-delay: 0s;
 -moz-animation-delay: 0s;
 -ms-animation-delay: 0s;
 animation-delay: 0s;
}
 .letter-container h1 a span:nth-child(2) {
 -webkit-animation-delay: 0.1s;
 -moz-animation-delay: 0.1s;
 -ms-animation-delay: 0.1s;
 animation-delay: 0.1s;
}
 .letter-container h1 a span:nth-child(3) {
 -webkit-animation-delay: 0.2s;
 -moz-animation-delay: 0.2s;
 -ms-animation-delay: 0.2s;
 animation-delay: 0.2s;
}
 .letter-container h1 a span:nth-child(4) {
 -webkit-animation-delay: 0.3s;
 -moz-animation-delay: 0.3s;
 -ms-animation-delay: 0.3s;
 animation-delay: 0.3s;
}
 .letter-container h1 a span:nth-child(5) {
 -webkit-animation-delay: 0.4s;
 -moz-animation-delay: 0.4s;
 -ms-animation-delay: 0.4s;
 animation-delay: 0.4s;
}
 .letter-container h1 a span:nth-child(6) {
 -webkit-animation-delay: 0.5s;
 -moz-animation-delay: 0.5s;
 -ms-animation-delay: 0.5s;
 animation-delay: 0.5s;
}
 .letter-container h1 a span:nth-child(7) {
 -webkit-animation-delay: 0.6s;
 -moz-animation-delay: 0.6s;
 -ms-animation-delay: 0.6s;
 animation-delay: 0.6s;
}
 .letter-container h1 a span:nth-child(8) {
 -webkit-animation-delay: 0.7s;
 -moz-animation-delay: 0.7s;
 -ms-animation-delay: 0.7s;
 animation-delay: 0.7s;
}
 .letter-container h1 a span:nth-child(9) {
 -webkit-animation-delay: 0.8s;
 -moz-animation-delay: 0.8s;
 -ms-animation-delay: 0.8s;
 animation-delay: 0.8s;
}
 .letter-container h1 a span:nth-child(10) {
 -webkit-animation-delay: 0.9s;
 -moz-animation-delay: 0.9s;
 -ms-animation-delay: 0.9s;
 animation-delay: 0.9s;
}
 .letter-container h1 a span:nth-child(11) {
 -webkit-animation-delay: 1s;
 -moz-animation-delay: 1s;
 -ms-animation-delay: 1s;
 animation-delay: 1s;
}
 .letter-container h1 a span:nth-child(12) {
 -webkit-animation-delay: 1.1s;
 -moz-animation-delay: 1.1s;
 -ms-animation-delay: 1.1s;
 animation-delay: 1.1s;
}
 .letter-container h1 a span:nth-child(13) {
 -webkit-animation-delay: 1.2s;
 -moz-animation-delay: 1.2s;
 -ms-animation-delay: 1.2s;
 animation-delay: 1.2s;
}
 .letter-container h1 a span:nth-child(14) {
 -webkit-animation-delay: 1.3s;
 -moz-animation-delay: 1.3s;
 -ms-animation-delay: 1.3s;
 animation-delay: 1.3s;
}
 .letter-container h1 a span:nth-child(15) {
 -webkit-animation-delay: 1.4s;
 -moz-animation-delay: 1.4s;
 -ms-animation-delay: 1.4s;
 animation-delay: 1.4s;
}
 .letter-container h1 a span:nth-child(16) {
 -webkit-animation-delay: 1.5s;
 -moz-animation-delay: 1.5s;
 -ms-animation-delay: 1.5s;
 animation-delay: 1.5s;
}
 .letter-container h1 a span:nth-child(17) {
 -webkit-animation-delay: 1.6s;
 -moz-animation-delay: 1.6s;
 -ms-animation-delay: 1.6s;
 animation-delay: 1.6s;
}
 .letter-container h1 a span:nth-child(17) {
 -webkit-animation-delay: 1.6s;
 -moz-animation-delay: 1.6s;
 -ms-animation-delay: 1.6s;
 animation-delay: 1.6s;
}
 .letter-container h1 a span:nth-child(18) {
 -webkit-animation-delay: 1.7s;
 -moz-animation-delay: 1.7s;
 -ms-animation-delay: 1.7s;
 animation-delay: 1.7s;
}
 .letter-container h1 a span:nth-child(19) {
 -webkit-animation-delay: 1.8s;
 -moz-animation-delay: 1.8s;
 -ms-animation-delay: 1.8s;
 animation-delay: 1.8s;
}
 .letter-container h1 a span:nth-child(20) {
 -webkit-animation-delay: 1.9s;
 -moz-animation-delay: 1.9s;
 -ms-animation-delay: 1.9s;
 animation-delay: 1.9s;
}
 .letter-container h1 a span:nth-child(21) {
 -webkit-animation-delay: 2s;
 -moz-animation-delay: 2s;
 -ms-animation-delay: 2s;
 animation-delay: 2s;
}
 .letter-container h1 a span:nth-child(22) {
 -webkit-animation-delay: 2.1s;
 -moz-animation-delay: 2.1s;
 -ms-animation-delay: 2.1s;
 animation-delay: 2.1s;
}
 .letter-container h1 a span:nth-child(23) {
 -webkit-animation-delay: 2.2s;
 -moz-animation-delay: 2.2s;
 -ms-animation-delay: 2.2s;
 animation-delay: 2.2s;
}
 .letter-container h1 a span:nth-child(24) {
 -webkit-animation-delay: 2.3s;
 -moz-animation-delay: 2.3s;
 -ms-animation-delay: 2.3s;
 animation-delay: 2.3s;
}
 .letter-container h1 a span:nth-child(25) {
 -webkit-animation-delay: 2.4s;
 -moz-animation-delay: 2.4s;
 -ms-animation-delay: 2.4s;
 animation-delay: 2.4s;
}
 .letter-container h1 a span:nth-child(26) {
 -webkit-animation-delay: 2.5s;
 -moz-animation-delay: 2.5s;
 -ms-animation-delay: 2.5s;
 animation-delay: 2.5s;
}
 .letter-container h1 a span:nth-child(27) {
 -webkit-animation-delay: 2.6s;
 -moz-animation-delay: 2.6s;
 -ms-animation-delay: 2.6s;
 animation-delay: 2.6s;
}
 .letter-container h1 a span:nth-child(28) {
 -webkit-animation-delay: 2.7s;
 -moz-animation-delay: 2.7s;
 -ms-animation-delay: 2.7s;
 animation-delay: 2.7s;
}
 .letter-container h1 a span:nth-child(29) {
 -webkit-animation-delay: 2.8s;
 -moz-animation-delay: 2.8s;
 -ms-animation-delay: 2.8s;
 animation-delay: 2.8s;
}
 .letter-container h1 a span:nth-child(30) {
 -webkit-animation-delay: 2.9s;
 -moz-animation-delay: 2.9s;
 -ms-animation-delay: 2.9s;
 animation-delay: 2.9s;
}
 .letter-container h1 a span:nth-child(31) {
 -webkit-animation-delay: 3s;
 -moz-animation-delay: 3s;
 -ms-animation-delay: 3s;
 animation-delay: 3s;
}
 .letter-container h1 a span:nth-child(32) {
 -webkit-animation-delay: 3.1s;
 -moz-animation-delay: 3.1s;
 -ms-animation-delay: 3.1s;
 animation-delay: 3.1s;
}
 .letter-container h1 a span:nth-child(33) {
 -webkit-animation-delay: 3.2s;
 -moz-animation-delay: 3.2s;
 -ms-animation-delay: 3.2s;
 animation-delay: 3.2s;
}
 @keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
 @-moz-keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
 @-webkit-keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
 @-ms-keyframes sharpen {
 0% {
 opacity: 0;
 text-shadow: 0px 0px 100px #fff;
 color: transparent;
}
 90% {
 opacity: 0.9;
 text-shadow: 0px 0px 10px #fff;
 color: transparent;
}
 100% {
 color: #fff;
 opacity: 1;
 text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
}
/* ============================
	 5.Intro area
	 =========================== */
.intro {
    background: url(../images/intro-bg.jpg) #333;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
}
.intro-container {
    padding: 0 150px;
    width: 100%;
    
}
.intro-logo {
    position: absolute;
    width: 200px;
    top: 5vh;
    left: 5vw;
}
.intro-logo img {
    width: 100%;
}
.intro-heading {
    color: #fff;
    text-align: center;
    
    padding-top: 170px;
    padding-bottom: 50px;
}
.intro-heading h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 0px 2px #000, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.intro-heading h2 {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 0px 2px #000, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.intro-content {
    color: #fff;
    
    display: flex;
    flex-flow: row wrap;
}
.intro-text {
    text-align: left;
    color: #fff;
    
    flex: 1;
}
.intro-text ul {
    margin-left: 20vw;
    padding: 20px 0 20px 50px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    
    transition: background .5s linear,
}
.intro-text ul:hover {
    background: rgba(0, 0, 0, 0.7);
}
.intro-text li {
    list-style: square;
    font-size: 26px;
}
.intro-text h1 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 22vw;
    text-shadow: 0px 0px 2px #000, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.intro-image {
    width: 33vw;
    
    flex: 1;
}
.intro-image img {
    width: 70%;
}
.intro-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 85%;
    
    color:azure;
    text-transform: uppercase;
}
.nav-item {
    width: 24%;
    font-weight: 700;
    padding: 20px 0;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    
    transition: background .7s linear;
}
.nav-item ::before {
    content: "";
    width: 0;
    height: 2px;
    background: #f00;
    
    position: absolute;
    top: 0;
    
    transition: width .7s linear;
}
.nav-item:hover ::before {
    width: 100%;
}
.nav-item:hover {
    background: rgba(0, 0, 0, 0.7);
}
.nav-item a {
    color: #fff;
}
.nav-item a:hover {
    color: #fff;
}

/* ============================
	 5.Banner area
	 =========================== */
.phone {
    z-index: 1000;
    text-align: center;
}
.number {
    padding: 5px 20px;
    position: sticky;
    top: 5px;
    right: 5vw;
    text-align: center;
}
.transparentbg {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: -1;
    opacity: .6;
    top: 3px;
    left: 0;
}
.phone h1 {
    color:#fff;
    font-weight: 700;
    font-size: 35px;
    text-shadow:  0px 0px 2px #000, 1px 1px 4px rgba(0, 0, 0, 0.7);
    line-height: 5px;
}
.phone p {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
}
.callme {
    color: #000;
    border: 1px solid #fff;
    padding: 5px 15px;
    font-size: 25px;
    text-transform: uppercase;
    background: #fff;
    font-weight: 700;
    
    transition: .5s;
}
.callme:hover {
    background: #333;
    color: #fff;
    z-index: 1001;
}
	#lp-pom-block-10 {
	width:100%;
	height: 780px;
	background-image:url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-color:#000;
	background-attachment: fixed;
		background-position:top center;
	background-size: cover;
	position:relative;
}
.banner-dot
	{
		width:100%;
		height:780px;
		position:absolute;
        padding-top: 20px;
		z-index:10;
		background:url(../images/dot.png) repeat;

	}
.baaner-container {
	position: relative;
	overflow: hidden;
	width: 78%;
	margin: 0 11%;
}
.banner-inner-container {
	position:relative;
	padding-top:0px;
}
.carousel-caption {
	top:0px;
	z-index: 10;
	left: 10%;
	right: 10%;
	text-shadow:none;
}
.carousel-caption h1 {
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;

}
.carousel-caption h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight:bold;
}
.main-image {
	margin:40px 0px 10px 0px;
}
.main-image img {
	width:80%;
}
.banner-text {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:12px;
	line-height:22px;
	padding-bottom:20px;
}
.banner-text1 {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:12px;
	line-height:22px;
	padding-bottom:0px;
}
.carousel .item {
	height: 780px;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}
.carousel-control {
	opacity:1;
}
.carousel-control.left {
	background-image:none;
}
.carousel-control.right {
	background-image:none;
}
.glyphicon-chevron-left:before {
	content:none;
}
.carousel-control .glyphicon-chevron-left {
	height:87px;
	width:57px;
	background:url(../images/arrow-left.png) no-repeat;
	content:none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 46%;
}
.glyphicon-chevron-right:before {
	content:none;
}
.carousel-control .glyphicon-chevron-right {
	height:87px;
	width:57px;
	background:url(../images/arrow-right.png) no-repeat;
	content:none;
}
.carousel-indicators {
	height:15px;
	bottom: 124px;
}
.banner-arrow {
	position: relative;
	bottom: 93px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index:100;
}


	/* Pulse */
	@-webkit-keyframes pulse {
 25% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 75% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
}
 @keyframes pulse {
 25% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 75% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
}
.pulse {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse:hover, .pulse:focus, .pulse:active {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.green-button {
	width:150px;
	margin:0 auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color:#3fcc37;
	padding:10px 20px 10px 20px;
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display:block;
	margin-bottom:20px;
}
a.green-button {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.green-button a:hover {
	text-decoration:none;
}
.blue-button {
	width:150px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:10px 20px 10px 20px;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display:block;
}
a.blue-button {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	background-color:#EE2E22;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
    
    transition: .5s;
}
a.blue-button:hover {
	background-color:#ED5149;
	text-decoration:none;
    color: #ccc;
    border-bottom: 3px solid #000;
    text-decoration:   0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.banner-nav {
	width:100%;
	height:auto;
	 padding:4px 0px 40px 0px;
}
.banner-nav ul {
	height:auto;
}
.banner-nav ul li {
	list-style:none;
	font-size:12px;
	color:#fff;
	text-align:left;
	font-family: 'Roboto', sans-serif;
	background:url(../images/tick.png) no-repeat 0 12px;
	padding:9px 0 0 36px;
}
/* ============================
	 6.Choose
	 =========================== */

	.choose-container {
	padding:65px 0px 45px 0px;
}
.main-head h1 {
	margin-top:0px;
	margin-bottom:20px;
	text-align:center;
	color:#333333;
	font-family: 'Roboto', sans-serif;
	font-size:22px;
	font-weight:normal;
}
.main-head h2 {
	margin-top:0px;
	margin-bottom:35px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#666666;
}
.round1 {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	text-align: center;
	background-color:#EE2E22;
	margin:0 auto;
}
.round1 img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.round1 a {
	padding:25px;
	text-decoration: none;
	display: block;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.round1 a:hover {
	padding:25px;
	opacity: .7;
	-webkit-transform: scale(.90, .90);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(.80, .80);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
	position: relative;
	z-index: 99;
}
.round1 img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.round2 {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	text-align: center;
	background-color:#EE2E22;
	margin:0 auto;
}
.round2 img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.round2 a {
	padding:25px;
	text-decoration: none;
	display: block;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.round2 a:hover {
	padding:25px;
	opacity: .7;
	-webkit-transform: scale(.90, .90);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(.80, .80);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
	position: relative;
	z-index: 99;
}
.round2 img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.round3 {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	text-align: center;
	background-color:#EE2E22;
	margin:0 auto;
}
.round3 img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.round3 a {
	padding:25px;
	text-decoration: none;
	display: block;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.round3 a:hover {
	padding:25px;
	opacity: .7;
	-webkit-transform: scale(.90, .90);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(.80, .80);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
	position: relative;
	z-index: 99;
}
.round3 img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.round4 {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	text-align: center;
	background-color:#EE2E22;
	margin:0 auto;
}
.round4 img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.round4 a {
	padding:25px;
	text-decoration: none;
	display: block;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.round4 a:hover {
	padding:25px;
	opacity: .7;
	-webkit-transform: scale(.90, .90);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(.80, .80);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
	position: relative;
	z-index: 99;
}
.round4 img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.choose h2 {
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	color:#333333;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight:normal;
}
.choose p {
	text-align:center;
	color:#666666;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:20px;
}
.price {
	padding: 10px;
}
.price h1 {
	text-align: left;
}
.price a {
	color:#EE2E22;
	display: inline-block;
	background:#fff;
	padding: 5px 15px;
	text-shadow: 1px 1px 2px #fff, 0 0 1em #000, 0 0 0.2em #000;
}
.price1 {
	padding: 10px;
	box-shadow: 5px red;
}
.price1 h1 {
	text-align: center;
}
.price1 a {
	color:#fff;
	padding: 5px 15px;
	text-shadow: 1px 1px 2px #EE2E22, 0 0 1em #000, 0 0 0.2em #000;
}
*{
    font-family: 'Roboto', sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ============================
	 8.Service
	 =========================== */

	.service-container {
	padding:65px 0px;
	background-color:#fff;
}
.service-container p {
	text-align:center;
	color:#666666;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	margin-bottom:0px;
}
.service1 {
	margin-top: 35px;
}
.service {
	margin-top: 30px;
}
.service-text-area {
	margin-top: 20px;
}
.service1 img {
	width:100%;
}
.service span {
	float: left;
}
.service h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #333333;
	padding-left: 40px;
}
.service p {
	padding-left: 40px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#666666;
}
.serviceIcon {
	background:url(../images/tick1.png) no-repeat center center;
	width: 23px;
	height:25px;
	display: block;
}

.technical {
	width:100%;
	height:auto;
	 padding-top: 20px;
    margin: 40px 40px 40px 0;
}
.technical ul {
	height:auto;
}
.technical ul li {
	list-style:url(https://img.icons8.com/ios/24/000000/checkmark.png);
	font-size:15px;
	color:#000;
	text-align:left;
	font-family: 'Roboto', sans-serif;
	padding:9px 0 0 36px;
}
/* ============================
	 9.Offer
	 =========================== */


	#lp-pom-block-11 {
	padding:65px 0px 45px 0px;
	height:auto;
	background-color:#333;
}
.offer--content {
    width: 100%;
    display: flex;
    color: beige;
    flex-flow: column wrap;
}
.offer-row {
    display: flex;
    flex-flow: row wrap;
}
.offer-head h1 {
	margin-top:0px;
	margin-bottom:35px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#fff;
}
.offer--vid {
    flex: 1;
}
.offer-text {
    color: beige;
    text-align:justify ;
    font-size: 18px;
    
    flex: 1;
    padding-left: 20px;
}

/* ============================
	14.Get in touch
	=========================== */

	.service-cont {
	padding:65px 0px;
	background-color:#333;
    color: #fff;
	}

	  #contact .contact-form {
	width:90%;
	max-width: 830px;
	margin: 0 auto;
}
.form-control {
	width: 100%;

	padding: 15px;
	font-family: 'Roboto', sans-serif;
	border:1px solid #e0e0e0;
	margin-bottom:20px;
	color:#666666 !important;
	font-size:16px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.form-control .textarea {
	height: 70px;
	max-height: 200px;
	max-width: 100%;
}

.form-btn {
	width:100%;
	display: block;
	height: auto;
	padding:15px;
	color:#fff;
	background-color:#EE2E22;
	border:none;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	font-size:16px;
	outline: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.form-btn:hover {
	color: white;
	border:none;
}


	  ::-webkit-input-placeholder { /* WebKit browsers */
 color:    #666666;
}
	  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #666666;
}
	  ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #666666;
}
	  :-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #666666;
}


/* ============================
	15.Clients
	=========================== */


	.client-container {
	padding-top: 65px;
	background-color: #fff;
}
.client-container h1{
    font-weight: 700;
}

/* ============================
	15.Footer
	=========================== */


	.footer-container {
	padding: 65px 0px 45px 0px;
	background-color: #333;
        color: #fff;
        text-align: left;
}
.footer-container h3 {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	font-family: 'Roboto', sans-serif;
	font-size:26px;
	font-weight:normal;
	color:#dcdcdc;
}
.footer-container p {
	margin-top:0px;
	margin-bottom:25px;
	text-align:left;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container a {
    text-align: left;
    font-weight: 700;
    color: #9a9b9c;
}
.fa-angle-right:before {
	margin-right: 6px;
}
.footer-container ul {
	padding-left: 15px;
    text-align: left;
}
.footer-container li {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container li a {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color:#9a9b9c;
	font-size:14px;
}
.footer-container li a:hover {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color:#FFF;
	font-size:14px;
	text-decoration:none;
}
.footer-container ul li {
	list-style: circle;
}
/* ============================
	17.Footer-bottom
	=========================== */



	.footer-bottom {
	padding: 35px 0px 35px 0px;
	background-color: #191c21;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color:#fff;
	text-align:center;
	font-size: 13px;
}
.footer-bottom p {
	margin:0px;
}
/* ============================
	 18.Goto top
	 =========================== */
#go-top {
	background: #fff url(../images/top.png) no-repeat center;
	border: 1px solid #e9eff0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	bottom: 50px;
	color: #81c8e4;
	display: none;
	font-size: 1.8em;
	height: 45px;
	line-height: 45px;
	position: fixed;
	right: 30px;
	text-align: center;
	width: 45px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	z-index:11;
}
#go-top:hover {
	background: #2fbbff url(../images/top-hover.png) no-repeat center -4px;
	color: #fff;
	border:none;
}

	/* RESPONSIVE CSS
	-------------------------------------------------- */
	@media (min-width:480px) {
 .main-image {
 margin: 0px 0px 10px 0px;
}
 .letter-container h1 a {
 line-height: 38px;
 font-size: 25px;
	min-height:25px;
	height:auto;
}
.carousel-caption h1 {
	margin-top: 0px;

		}
 .carousel-caption h2 {
 font-size: 18px;
 margin-bottom:15px;
}
 .carousel-caption {
 top: 30px;
}
 .banner-nav ul li {
 padding:12px 0 0 36px;
}
 .main-head h1 {
 font-size:26px;
}
 .offer-head h1 {
 font-size:26px;
}
 .domin-head h1 {
 font-size:26px;
}
 .offer-boxhead {
 font-size:26px;
}
 .testimonial .testiimg {
 margin-left:46px;
}
 .search {
 width: 75%;
}
 .input-append .btn-group:last-child>.dropdown-toggle {
 padding: 17px 30px;
}
}
 @media (min-width: 600px) {
 .offer-text {
 width:55%;
}
}
 @media (min-width: 640px) {
 .main-image img {
 width: 50%;
}
 .carousel-caption h2 {
 margin:20px 0px;
}
 .banner-text {
 font-size: 15px;
 line-height: 24px;
}
 .banner-text1 {
 font-size: 15px;
 line-height: 24px;
}
 .banner-nav ul li {
 font-size: 14px;
}
 .banner-nav {
padding: 4px 0px 40px 0px;
}
 .main-head h1 {
 font-size:36px;
}
 .offer-head h1 {
 font-size:36px;
}
.offer-row {
    flex-flow: row wrap;
}
.offer-text {
    text-align:justify ;
}
}
 @media (min-width:768px) {
 ul.navbar-nav {
 float: right;
}
 .navbar-brand {
 padding: 0px;
}
 .navbar-collapse {
 padding-right: 0px;
 padding-left: 0px;
}
 .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 text-align: center;
 height:50px;
}
 .dropdown-menu li.active a, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu li.active a:hover, .dropdown-menu li.active a:focus {
 background:#2fbbff !important;
 color: #fff;
}
 #menu-icon {
 position: absolute;
 left: 0;
 min-width: 40px;
 z-index: 100;
 bottom: 0px;
 margin-left:10px;
 padding-bottom:0;
}
 #menu-icon:after {
 bottom: 100%;
 left: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
 border-color: rgba(238, 102, 102, 0);
 border-bottom-color: #2fbbff;
 border-width: 4px;
 margin-left: -4px;
}

 .dropdown-menu li {
 border-bottom:solid 1px #666666;
}
 .dropdown-menu li:last-child {
 border-bottom:none;
}
.navbar-nav > li:hover ul.dropdown-menu {
 display: block;
}
 .carousel-caption {
 top:30px;
}
     .phone {
         position: absolute;
         top:5vh;
         right: 5vw;
     }     
     .transparentbg {
    // border-radius: 15px;
}
 .banner-text {
 font-size:16px;
 line-height:30px;
 padding-bottom:32px;
}
 .banner-text1 {
 font-size: 16px;
 line-height:30px;
 padding-bottom:25px;
}
 .letter-container h1 a {
 font-size: 32px;
	min-height:40px;
	height:auto;
}
 .carousel-caption h2 {
 font-size: 24px;
 margin-top:20px;
 margin-bottom:20px;
}
 .banner-nav ul li {
 font-size:16px;
}
 .main-image {
 margin:0px 0px 35px 0px;
}
 .banner-nav {
 width:100%;
 height:auto;
 padding-bottom:52px;
}
 .main-image img {
 width:232px;
}
 .blue-button {
 width:190px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 padding:15px 30px 15px 30px;
 margin:0px 20px 0px 0px;
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 .green-button {
 width:190px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 background-color:#3fcc37;
 padding:15px 30px 15px 30px;
 margin:0 20px 0px 0px;
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 a.green-button {
 font-size:16px;
}
 a.blue-button {
 font-size:16px;
}
 .offer-text {
 width: 100%;
}
 .search {
 width: 82%;
}
 .textarea {
 height:130px;
}
 .newsletter-form {
 width: 82%;
 margin-top: 5px;
 float:right;
}
 .newsletter-btn {
 margin-top: 5px;
}
 .offer-boxhead {
 font-size: 20px;
}
 .footer-container p {
 margin-bottom: 86px;
}
 .navbar-nav > li {
 padding-left: 8px;
 padding-right: 8px;
}
 .navbar-default ul.dropdown-menu {
 background: #2d3538;
 min-width: 180px;
 top:50px;
 left:-46px;
 padding:0;
}
 .blogpost-search-small {
width: 92%;
}
}
 @media (min-width: 992px) {
 .smo-icon {
 padding: 11px 0px 0px 0;
}
 .oder {
 text-align:right;
 padding: 10px 0 10px 0;
}
 .letter-container h1 a {
 font-size: 40px;
	min-height:47px;
	height:auto;
	line-height: 43px;
}
 .carousel-caption h2 {
 font-size:30px;
}
 .blue-button {
 width:220px;
 border-radius: 20px 0 35px 0;
 padding: 20px;
 margin:0px 20px 0px 0px;
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 .green-button {
 width:220px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 background-color:#3fcc37;
 padding:20px 60px 20px 30px;
 background-image:url(../images/more-arrow.png);
 background-repeat:no-repeat;
 background-position:160px 15px;
 margin:0 20px 0px 0px;
 font-family: 'Roboto', sans-serif;
 color:#fff;
 font-size:16px;
 font-weight:bold;
 display:inline-block;
}
 a.green-button {
 font-size:16px;
}
 a.blue-button {
 font-size:16px;
}
 .banner-text {
 font-size:20px;
 line-height:30px;
 padding-bottom:52px;
}
 .carousel-caption h2 {
 font-size: 24px;
 margin-top:25px;
 margin-bottom:35px;
}
 .banner-text {
 font-size:18px;
 line-height:30px;
 padding-bottom:32px;
}
 .banner-text1 {
 font-size: 18px;
 line-height:30px;
 padding-bottom:25px;
}
 .banner-nav ul li {
 font-size:16px;
}
 .banner-icon {
 padding-top:18px;
}
.banner-icon img {
	max-width:98%;
}
.offer-row {
    flex-flow: row wrap;
}
}
 @media (min-width: 1200px) {
 .letter-container h1 a {
 font-size: 50px;
	min-height:53px;
	height:auto;
}
 .banner-text {
 font-size:18px;
 line-height:30px;
 padding-bottom:32px;
}
 .banner-text1 {
 font-size: 18px;
 line-height:30px;
 padding-bottom:8px;
}
 .banner-nav ul li {
 font-size:18px;
}
.offer-row {
    flex-flow: row wrap;
}
}
@media (max-width:640px) {

	   #lp-pom-block-10
{
	  background-position: 50% 0px !important;
    margin-top: -110px;
}
    .phone {
        position: sticky;
        top:0;
        margin: 0 auto;
    }
    .number {
        
    }
    .transparentbg {
    border-radius: 0 0 15px 15px;
        top: 0;
}
    .carousel-inner {
        margin-top: 50px;
    }
#lp-pom-block-11

{
	  background-position: 50% 0px !important;
}
.offer-row {
    flex-flow: column wrap;
}
.offer-text {
    text-align:left ;
    padding-left: 0;
}

#lp-pom-block-12
{
	  background-position: 50% 0px !important;
}

  }
